{% extends "base.html" %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}

        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-danger" role="alert"  style="margin-left: 30%; margin-right: 30%; ">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

<form method="post" enctype="multipart/form-data">
    <div style="margin-left: 30%; margin-right: 30%; margin-bottom: 50px;">
        {{ form.hidden_tag() }}
        {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        {{ form.password(class="form-control mt-3", placeholder=form.password.label.text) }}

        {{ form.login(class="btn btn-warning mt-2") }}
    </div>
</form>
{% endblock %}




